@charset "utf-8";

*{
    margin:0;
}

html{
    scroll-behavior: smooth;
}

::selection{
    background-color: rgb(255, 190, 111);
    color:white;
}

.button {
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    color:white;
    font-size:20px;
    font-weight:bolder;
    text-align: center;
    text-decoration: none;
    transition: .3s;
    width:100px;
    margin:0 20px;
}

.button::before,
.button::after {
  position: absolute;
  top:40px ;
  z-index: -1;
  content: '';
  width: 50%;
  height: 10%;
  background: white;
  transform: scale(0, 1);
  transition: transform .3s;
}
.button::before {
  left: 0;
  transform-origin: left top;
}
.button::after {
  right: 0;
  transform-origin: right top;
}
.button:hover::before,
.button:hover::after {
  transform: scale(1, 1);
}

li{
    list-style: none;
    float:left;
}

header{
    position:fixed ;
    display: flex;
    background-color:rgb(47, 49, 52);
    padding:20px;
    width:100%;
    height:60px;
    align-items: center;
    z-index:5;
}

.header-link{
    margin:40px 20px;
    font-size:20px;

}

.header-logo{
    font-size:30px;
    font-weight:600;
    padding:10px 20px;
    float:left;
}

.header-logo a{
    color:darkorange;
    text-decoration: none;
}

.main{
    width:100%;
    height:600px;
}

.footer{
    width:100%;
    height:200px;
    color:black;
}

.yohaku{
    opacity:0.8;
    height:600px;
    width:100%;
    display:flex;
    align-items:center;
    background-image: url(background_C.png);
    justify-content:center;
	/*background-size: 100% auto, 100% auto, 100% auto;
	background-repeat: no-repeat, no-repeat, no-repeat;
    animation:the_slide 2s linear 9s infinite normal forwards running;*/
    
}

.intro{
    color:white;
}

.intro h1{
    font-size:100px;
}

.intro p{
    font-size:40px;
    font-weight:600;
}

.description{
    padding:20px 0;
}

.border{
    border-bottom:5px solid #0bd;
    width:90%;
    margin:30px auto;
}

.game-pres{
    padding:20px 0;
}

.sec_main p{
    font-size:50px;
    padding:0 20px;
    color:black;
    font-weight: 900;
}

.sec_sub{
    font-size:20px;
    padding:10px 25px;
    margin:0 40px;
    color:black;
    font-weight:500;
}

.setumei{
    width:100%;
    display:flex;
    align-items: center;
    flex-direction:column;
}

.s_content{
    margin:20px auto 50px;
    font-weight:500;
}

span{
    color:darkorange;
}

.space2{
    height:20px;
}

.s_content{
    font-size:20px;
}

.setumei h1{
    margin:10px auto;
}

.setumei p{
    margin:10px auto;
    font-size:20px;
}

.footer{
    width:100%;
    height:200px;
    background-color:rgb(47, 49, 52);
    display:flex;
    align-items:center;
}

.footer-content{
    margin:0 auto;
}

.footer-content h1{
    font-size:20px;
    color:white;
}

.space{
    height:100px;
    width:100%
}


.maker-group{
    display:flex;
    flex-direction: column;
}

.maker-intro{
    display:flex;
    flex-direction: column;
    padding:0 50px;
}

.games{
    display:flex;
    margin-top:10px;
}

.game{
    width:40%;
    margin:0 auto;
}

.name1{
    font-size:18px;
    color:darkorange;
    text-align: left;
}

.name2{
    font-size:18px;
    color:darkorange;
    text-align: right;
}

.bb{
    margin-top:10px;
}

.self-intro1{
    text-align: left;
    margin:0 10px;
    font-size:20px;
    font-weight:500;
}

.self-intro2{
    text-align: right;
    margin:0 10px;
    font-size:20px;
    font-weight:500;
}

.forspace{
    height:50px;
}

.mid_sec{
    height:700px;
    width:100%;
    display:flex;
    flex-direction: row;
    background-color:rgb(217, 247, 255);
    clip-path:polygon(0 0, 100% 15%, 100% 85%, 0 100%);
}

.photoes{
    position:relative;
    width:60%;
}

.photo{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    opacity:0;
    animation:cal-sel 15s infinite;
}

.no1{
    background-image:url(background_C.png);
    animation-delay: 0;
}

.no2{
    background-image:url(github.png);
    animation-delay:5s;
}

.no3{
    background-image:url(unity.png);
    animation-delay:10s;
}

.desc{
    margin:auto 0;
    width:40%;
    text-align: center;
}

.desc p{
    font-size:20px;
    margin:30px 0;
}

@keyframes cal-sel{
    0% { opacity: 0; }
    3% { opacity: 1; }
   30% { opacity: 1; }
   33% { opacity: 0; }
  100% { opacity: 0; }
 }
